<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>My Blog</title>
    <link rel="stylesheet" href="blog.css"/>

</head>
<body data-ng-app="blogsApp">
<main data-ng-controller="blogsController" data-ng-init="getAll()">
    <h1>Blogs:</h1>
    <button data-ng-if="!newBlog.addingBlog" data-ng-click="toggleAddBlog()" id="addingBlog">Add new blog</button>
    <form name="newBlogForm" data-ng-if="newBlog.addingBlog">
        <div>
            <label for="newBlogAuthor">Author: </label>
            <input type="text" id="newBlogAuthor" data-ng-model="newBlog.author"/>
        </div>
        <div>
            <label for="newBlogEmail">Email: </label>
            <input type="text" id="newBlogEmail" data-ng-model="newBlog.email"/>
        </div>
        <div>
            <label for="newBlogBody">Content: </label>
            <textarea name="newBlogbody" id="newBlogBody" cols="50" rows="10" data-ng-model="newBlog.body"></textarea>
        </div>
        <button type="submit" data-ng-click="create(newBlog)" class="save">Add</button>
    </form>

    <ul data-ng-repeat="blog in blogs">
        <li>
            <div data-ng-if="!blog.editing">
                <div>
                    <label for="blog{{blog._id}}">Author: </label> {{blog.author}}
                </div>
                <div>
                    <label for="blogEmail">Email: </label> {{blog.email}}
                </div>
                <div>
                    <label for="blogBody">Content: </label>{{blog.body}}
                </div>
                <div>
                    <label for="blogDate">Date: </label>{{blog.date}}
                </div>
            </div>
            <form data-ng-if="blog.editing">
                <div>
                    <label for="blog{{blog._id}}">Author: </label>
                    <input type="text" id="blog{{blog._id}}" data-ng-model="blog.author"/>
                </div>
                <div>
                    <label for="blogEmail">Email: </label>
                    <input type="text" id="blogEmail" data-ng-model="blog.email"/>
                </div>
                <div>
                    <label for="blogBody">Content: </label>
                    <textarea name="blogBody" id="blogBody" cols="50" rows="10"
                              data-ng-model="blog.body"></textarea>
                </div>
                <button type="submit" data-ng-click="save(blog)" class="save">Save</button>
                <button type="button" data-ng-click="toggleEdit(blog)" class="editing">Cancel</button>
            </form>
            <br/>
            <button data-ng-click="toggleEdit(blog)" class="editing" data-ng-if="!blog.editing">Edit</button>
            <button data-ng-click="remove(blog)" class="remove">Delete</button>
        </li>
    </ul>
</main>
<script src="bundle.js"></script>
</body>
</html>